# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\下载\酒店管理\Farm-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
